[settings]
banner = 
    ╔───────────────────────────────────────────────╗
    │░█▀▀░█▀█░█░░░█▀▀░█▀█░░░█▄█░▀█▀░█▀█░▀█▀░█▀█░█▀▀░│
    │░▀▀█░█░█░█░░░█░░░█░█░░░█░█░░█░░█░█░░█░░█░█░█░█░│
    │░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀░░░▀░▀░▀▀▀░▀░▀░▀▀▀░▀░▀░▀▀▀░│
    │░░█▀▀░█▀█░█▀▄░█▀█░█▀█░█▀▄░█▀█░▀█▀░▀█▀░█▀█░█▀█░░│
    │░░█░░░█░█░█▀▄░█▀▀░█░█░█▀▄░█▀█░░█░░░█░░█░█░█░█░░│
    │░░▀▀▀░▀▀▀░▀░▀░▀░░░▀▀▀░▀░▀░▀░▀░░▀░░▀▀▀░▀▀▀░▀░▀░░│
    ╚───────────────────────────────────────────────╝
              
title = Survey Droid Reporter  
show_banner = True
safety_checks = True
max_age_hours = 1
archive_mail_files = False

[paths]
archive_folder_path = /mnt/c/Games/SWGinstall/profiles/username/servername/mail_firstname lastname/isd_archive
mail_folder_path = /mnt/c/Games/SWGinstall/profiles/username/servername/mail_firstname lastname
restypes_file = restypes.txt

[galaxyharvester]
galaxy_id = 
gh_name = 
gh_pass = 
login_url = https://galaxyharvester.net/authUser.py
submit_url = https://galaxyharvester.net/postResource.py
submit_only_new_spawns = True

[discord]
discord_name = ISD-Reporter
discord_notify = False

[webhook_urls]
AnyNameHere1 = https://discord.com/api/webhooks/0123456789/abcdefghijklmnopqrstuvwxyz
AnyNameHere2 = https://discord.com/api/webhooks/0123456789/abcdefghijklmnopqrstuvwxyz
AnyNameHere3 = https://discord.com/api/webhooks/0123456789/abcdefghijklmnopqrstuvwxyz
